.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.play-score {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  font-family: 'Short Stack', cursive;
  font-size: 22px;
  border: solid 1px;
}

.play-score .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.play-score table {
  position: absolute;
  width: 100%;
  height: 100%;
}

.play-score tr:first-of-type {
  vertical-align: top;
}

.play-score tr:last-of-type {
  vertical-align: bottom;
}

.play-score tr td:first-of-type {
  text-align: left;
}

.play-score tr td:last-of-type {
  text-align: right;
}

.base-path {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: rotate(45deg) translateX(66%);
}

.base-path-hr {
  background: black;
}
