.play-score {
  height: 100px;
  width: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  font-family: 'Short Stack', cursive;
  font-size: 22px;
}

.play-score .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.play-score table {
  height: 100%;
  width: 100%;
}

.play-score tr:first-of-type {
  vertical-align: top;
}

.play-score tr:last-of-type {
  vertical-align: bottom;
}

.play-score tr td:first-of-type {
  text-align: left;
}

.play-score tr td:last-of-type {
  text-align: right;
}
